{% extends "templates/layout.html.twig" %}
{% block content %}
<div class="container admin">
<h1>Info du compte</h1>
    <p>Prénom : {{ user.firstname }}</p>
    <p>Nom : {{ user.lastname }}</p>
    <p>adresse email : {{ user.email }}</p>
</div>
{% endblock %}