{% extends "templates/layout.html.twig" %}
{% block content %}
    <div class="container">
        <h2>
            <span class="underline">Film</span>
            <select>
                <option>Catégorie</option>
            </select>

            <select>
                <option>Trier</option>
            </select>
        </h2>
        <div class="list">
            <ul class="flex-container">
                <li class="flex-item">
                    <div>
                        <img src="https://lumiere-a.akamaihd.net/v1/images/pt_blackpanther_characterposter_shuri_155fa2da.jpeg" />
                        <p><a href="" >Black Panther</a></p>
                    </div>
                </li>
                {% for film in films %}
                    <li class="flex-item">
                        <div>
                            <img src="{{ asset(film.brochure) }}" />
                            <p><a href="{{ film.title }}" >{{ film.title }}</a></p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}