{% extends "templates/layout.html.twig" %}
{% block content %}
    <div class="container">
        <h2>
            <span class="underline">Film</span>
            <select class="selectpicker" data-style="btn-danger">
                <option>Catégorie</option>
            </select>

            <select class="selectpicker" data-style="btn-danger">
                <option>Trier</option>
            </select>
        </h2>
        <div class="list">
            <ul class="flex-container">
                {% for film in films %}
                    <li class="flex-item">
                        <div>
                            <a href="{{ path('film-view', {'id': film.id}) }}" >
                                <div class="cover" style='background: url("{{ asset('uploads/brochures/' ~ film.brochure) }}");background-size: cover;'> </div>
                            </a>
                            <p><a href="{{ path('film-view', {'id': film.id}) }}" >{{ film.title }}</a></p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}